---
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import  ArticleList from '../../components/ArticleList.astro';
import PageNav from '../../components/PageNav.astro';


export async function getStaticPaths({paginate}) {
  let allBlogPosts = await getCollection('blog', ({data}) => data.draft !== true);
  let sorted = allBlogPosts.sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
  );
  return paginate(sorted, {pageSize: 6});
}

const { page } = Astro.props;
const { currentPage, lastPage, url } = page;
---

<Layout title="Jeff Caldwell | Blog" description="Jeff Caldwell is a web developer, writer, journalist, and student who makes fast, accessible websites and writes engaging docs and tutorials.">
  <main class="flow" id="main" tabindex="-1">
    <h1 class="page-title">Blog</h1>
    <ArticleList articles={page.data} />
    {lastPage !== 1 && <PageNav {currentPage} {lastPage} {url} />}
  </main>
</Layout>

<style>
  main {
    --flow-space: var(--size-6);
  } 
  h1 {
    margin-bottom: var(--size-6);
  }
</style>
