---
import { Image, Picture } from '@astrojs/image/components';
const { data, headingLevel, url, index } = Astro.props;

const { title, date, summary, image, tags } = data;

const feature = await import(/* @vite-ignore */`../assets/images/${image!.src}.webp`);
const { width, height } = feature.default;
const firstClass = index === 0 ? 'feature' : 'post';
---
  <article class={'card ' + firstClass}>
<a href={url} aria-labelledby={'#' + url} >
      {headingLevel === 2 && <h2 class="heading" id={url}>{title}</h2>}
      {headingLevel === 3 && <h3 class="heading" id={url}>{title}</h3>}
      {headingLevel === 4 && <h4 class="heading" id={url}>{title}</h4>}
    
</a>
      <p>{summary}</p>
      <div class="card-footer taglist">
        {tags.map((tag) => <a href=`/tags/${tag}` class="tag">#{tag}</a>)}
      </div>
  </article>

<style>
.feature {
  grid-column: span 2;
}

.post {
  grid-column: span 1;
}

.card {
  container: card / inline-size;
  background-color: hsl(var(--bg-darker-hsl), 50%);
  box-shadow: 0.5em 0.5em 1em 2px var(--bg-alpha-2);
  height: 20rem;
  padding: var(--size-0);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: var(--size--2);
  align-items: start;
}

.card a {
  transition: color 0.2s ease-in-out,
              outline-color 0.2s ease-in-out;
  text-decoration: none;
}

.card a:hover {
  color: var(--primary);
}

.card .taglist {
  gap: 0 var(--size-0);
}

.card .tag {
  color: var(--secondary);
  font-size: var(--size-0);
}

.card .tag:hover {
  color: var(--primary);
}

:is(h2, h3, h4) {
  font-size: var(--size-2);
}

.card p {
  word-wrap: break-word;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto; 
  font-size: var(--size-0);
  line-height: 1.5;
}

@container (min-width: 460px) {
  .card {
    gap: var(--size-0);
  }
  
  .card p,
  .card .tag {
    font-size: var(--size-1);
  }

  .card .taglist {
    gap: var(--size-1);
  }

  .card :is(h2, h3, h4) {
    font-size: var(--size-3);
  }
}

@container (min-width: 800px) {
  .card {
    gap: var(--size-1);
  }

  .card p,
  .card .tag {
    font-size: var(--size-2);
  }

  .card .taglist {
    gap: var(--size-2);
  }

  .card :is(h2, h3, h4) {
    font-size: var(--size-4);
  }

}
</style>
