---
const { frontMatter, href, type, isFirst } = Astro.props;
const { title, summary, date, tags } = frontMatter;

const firstClass = isFirst ? 'first' : '';
---

  <article class=`${firstClass} ${type}`>
    
    <div class="preview-content">
      <h2>
        <a {href} class="title-link">
          {title}
        </a>
      </h2>
      <div class="post-meta">
        <time>{date.toLocaleDateString('en-us', {month: 'long', day: 'numeric', weekday: 'long', year: 'numeric'})}</time>
        {tags && <div class="taglist">
          {tags.map((tag: string) => <a href=`/tags/${tag.toLowerCase()}` class="tag">#{tag}</a>)}
        </div>}
      </div>
      <p>{summary}</p> 
    </div>
  </article>

<style>
  article {
    margin-inline: unset;
    padding: var(--size-0);
  }

  h2 {
    line-height: unset;
  }

  a.title-link {
    color: var(--primary);
    text-decoration-color: transparent;
    transition: color 0.2s ease-in-out;
  }

  a.title-link:hover {
    color: var(--fg);
  }

  time {
    padding: 0;
    margin: 0;
    margin-bottom: var(--size--1);
    line-height: 1;
  }

  .preview-content {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--size--1);
  }

  article :global(.post-meta) {
    justify-content: flex-start;
    align-items: baseline;
    gap: var(--size-2);
  }
</style>
