---
import '../css/fonts.css';
import '../css/style.css';

export interface Props {
  title: string;
  description: string;
}

const production = import.meta.env.MODE === 'production';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
---

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="sitemap" href="/sitemap-index.xml">
  <link rel="canonical" href={canonicalURL}>

  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <meta name="title" content={title} />
  <slot />

  <title>{title}</title>

  {production && <script defer data-domain="jeffcaldwell.is" src="https://plausible.io/js/script.js"></script>}
