---
import '../css/fonts.css';
import '../css/style.css';

export interface Props {
  title: string;
  description: string;
}

const production = import.meta.env.MODE === 'production';
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
---

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="sitemap" href="/sitemap-index.xml">
  <link rel="canonical" href={canonicalURL}>

  <meta name="generator" content={Astro.generator} />
  <meta name="description" content={description} />
  <meta name="title" content={title} />
  <slot />

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <title>{title}</title>

  {production && <script defer data-domain="jeffcaldwell.is" src="https://plausible.io/js/script.js"></script>}
