---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
import BlogOg from '../components/BlogOg.astro';

export interface props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {data, slug} = Astro.props;
const {title, date, tags, summary} = data;
---

<Layout {title} description={summary}>
  <BlogOg {title} {summary} {slug} />
  <main id="main" tabindex="-1">
    <article class="flow blog-post">
      <h1 class="post-title">{title}</h1>
      <div class="post-meta">
        <time>{date.toLocaleDateString('en-us', {weekday: 'long', month: 'long', day: 'numeric', year: 'numeric'})}</time>
        <div class="taglist">
          <Icon name="tag" label="Tags"/>
          {tags.map((tag: string) => <a href=`/tags/${tag.toLowerCase()}` class="tag">#{tag}</a>)}
        </div>
      </div>
      <slot />
    </article>
  </main>
</Layout>

<style>
  .taglist :global(.c) {
    fill: var(--primary);
    width: var(--size-2);
    height: var(--size-2);
  }
</style>
