---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';

export interface props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {data} = Astro.props;
const {title, date, tags, summary} = data;
---

<Layout {title} description={summary}>
  <template slot="bloghead">
    <meta property="og:title" content={title} />
    <meta property="og:image" content={`${title}.svg`} />
    <meta property="og:type" content="article" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:description" content={summary} />
    <meta property="og:locale" content="en_GB" />
  </template>
  <main id="main">
    <article class="flow blog-post">
      <h1>{title}</h1>
      <div class="post-meta">
        <time>{date.toLocaleDateString('en-us', {weekday: 'long', month: 'long', day: 'numeric', year: 'numeric'})}</time>
        <div class="taglist">
          <Icon name="tag" label="Tags"/>
          {tags.map((tag: string) => <a href=`/tags/${tag.toLowerCase()}` class="tag">#{tag}</a>)}
        </div>
      </div>
      <slot />
    </article>
  </main>
</Layout>

<style>
  .taglist :global(.c) {
    fill: var(--primary);
    width: var(--size-2);
    height: var(--size-2);
  }
</style>
